[submodule "extlibs/jReadWrite"]
	path = extlibs/jReadWrite
	url = https://github.com/userbogd/jReadWrite.git
[submodule "extlibs/libespfs"]
	path = extlibs/libespfs
	url = https://github.com/userbogd/libespfs.git
[submodule "extlibs/ttn-esp32"]
	path = extlibs/ttn-esp32
	url = https://github.com/userbogd/ttn-esp32.git
